*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    background-image: linear-gradient(to right, rgb(111, 0, 255) , rgb(255, 0, 179));
    background-position: center;
    width: 100%;
    height: 100vh;
    color: aliceblue;
}
.container{
    position: absolute;
    left: 10%;
    top: 22%;
}
.container h1{
    font-size: 50px;
}
.display{
    padding-top: 10px;
}
.display input{
    padding: 5px 60px 5px 10px;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 3px;
    outline: 0;

}
.clip{
    font-size: 30px;

}
.display button{
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(222, 69, 89);
    color: white;
    cursor: pointer;
}
.display button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: gainsboro;
}


@media only screen and (max-width: 991px) {

}


@media only screen and (max-width: 767px) {
    .container{
        position: absolute;
        left: 8%;
        top: 25%;
    }
    .container h1{
        font-size: 35px;
    }
    .display input{
        padding: 5px 60px 5px 10px;
        font-size: 17px;
        margin-bottom: 10px;
        border-radius: 5px;
        margin-right: 3px;
        outline: 0;
        border: 0px;
    
    }
    .clip{
        font-size: 23px;
    }
    .display button{
        font-size: 16px;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: rgb(222, 69, 89);
    }

}

@media only screen and (max-width: 575px) {

}


